<div class="overlay">
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_stuff_that_works.mp4')">Stuff That
        Works</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_wash_your_love.mp4')">I'll Wash Your
        Love</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4-forgiveness.mp4')">Forgiveness</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_sunny_side.mp4')">Sunny
        Side of Life</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_asked_me_to.mp4')">You Asked Me
        To</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_ill_be_there.mp4')">I'll Be
        There</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_its_me_again_lord.mp4')">It's Me Again
        Lord</button>
</div>
<br>
<!-- <div class="lo-res-container">
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_ill_be_there.mp4')">Lo Res
        Ill be there</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/4_asked_me_to.mp4')">Lo Res
        Asked Me</button>
</div> -->