<div class="overlay">
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/stuff_that_works.mp4')">Stuff That
        Works</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/3_wash_your_love.m4v')">I'll Wash Your
        Love</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/3_forgiveness.m4v')">Forgiveness</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/3_sunny_side.m4v')">Sunny
        Side of Life</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/asked_me_to_final.mp4')">You Asked Me
        To</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/ill_be_there.mp4')">I'll Be
        There</button>
    <button mat-raised-button
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/its_me_again_lord.mp4')">It's Me Again
        Lord</button>
</div>