<div class="overlay">
    <!-- <h2>Jukebox Listing</h2> -->
    <button mat-raised-button color="accent"
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/stuff_that_works.mp4')">Stuff That
        Works</button>
    <button mat-raised-button color="accent"
        (click)="playVideo('https://storage.googleapis.com/cousin-mike-jamboree/quiero.mp4')">I'll Be There (If You Ever Want
        Me)</button>
    <button mat-raised-button color="accent"
        (click)="playVideo('https://youtu.be/QPoDEWG0l4o?si=CjJFWxKA5k1L5Rlj')">Forgiveness</button>
    <!-- <button mat-raised-button color="primary" (click)="playVideo('video4')">Video 4</button> -->
</div>