<mat-card>
    <mat-card-content class="title">
        <mat-card-title>
            <h1 color="primary">Cousin Mike's Aching Hearts Jamboree Jukebox</h1>
        </mat-card-title>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <video id="video-ele" controls poster="../assets/kelry.jpg">
            <source src="https://storage.googleapis.com/cousin-mike-jamboree/stuff_that_works.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <app-jukebox-overlay></app-jukebox-overlay>
    </mat-card-content>
</mat-card>